 <!--FOOTER-->
 <footer class="container-fluid bg-dark-color" id="footer">
    <div class="container">
      <div class="row">
        <!--FOOTER TOP-->
        <div class="col-12" id="footer-top">
          <div class="row justify-content-between">
            <div class="col-4">
              <h3 class="secondary-color">Game Mania</h3>
            </div>
            <div class="col-4" id="social-icons">
              <i class="bi bi-facebook"></i>
              <i class="bi bi-instagram"></i>
              <i class="bi bi-youtube"></i>
              <button onclick="myFunction()">clique aqui</button>
              <div id="contextText">
                <p>Inscreva-se para saber mais</p>
              </div>
            </div>
          </div>
        </div>
        <!--FOOTER DETAILS-->
        <div class="col-12" id="footer-details">
          <div class="row">
            <div class="col-12 col-md-4" id="news-container">
              <h4 class="secondary-color">Fique por dentro das Novidades</h4>
              <p clas="secondary-color">
                Inscreva-se para saber mais
              </p>
              <div class="col-4" id="social-icons">
                <p class="secondary-color">Pague com</p>
                <i class="bi bi-ticket-detailed"></i>
                <i class="bi bi-cash-coin"></i>
                <i class="bi bi-credit-card"></i>
                <i class="bi bi-paypal"></i>
              </div>
            </div>
          </div>
          <!--FOOTER BOTTOM-->
          <div class="col-12" id="footer-bottom">
          </div>
        </div>
      </div>
  
